In [16]:
import pandas as pd
import os
import numpy as np
import random

In [3]:
os.chdir("F:\COGNITIOR\Homework\H_W_Pusnishmennt_Classifiction")

In [4]:
data=pd.read_csv("data_password.csv")

C:\Users\Gadewar\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data

,password,strength,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,kzde5577,1,NaN,NaN,NaN,NaN,NaN
1,kino3434,1,NaN,NaN,NaN,NaN,NaN
2,visi7k1yr,1,NaN,NaN,NaN,NaN,NaN
3,megzy123,1,NaN,NaN,NaN,NaN,NaN
4,lamborghin1,1,NaN,NaN,NaN,NaN,NaN
5,AVYq1lDE4MgAZfNt,2,NaN,NaN,NaN,NaN,NaN
6,u6c8vhow,1,NaN,NaN,NaN,NaN,NaN
7,v1118714,1,NaN,NaN,NaN,NaN,NaN
8,universe2908,1,NaN,NaN,NaN,NaN,NaN
9,as326159,1,NaN,NaN,NaN,NaN,NaN
10,asv5o9yu,1,NaN,NaN,NaN,NaN,NaN
11,612035180tok,1,NaN,NaN,NaN,NaN,NaN
12,jytifok873,1,NaN,NaN,NaN,NaN,NaN
13,WUt9IZzE0OQ7PkNE,2,NaN,NaN,NaN,NaN,NaN
14,jerusalem393,1,NaN,NaN,NaN,NaN,NaN
15,g067057895,1,NaN,NaN,NaN,NaN,NaN
16,52558000aaa,1,NaN,NaN,NaN,NaN,NaN
17,idofo673,1,NaN,NaN,NaN,NaN,NaN
18,6975038lp,1,NaN,NaN,NaN,NaN,NaN
19,sbl571017,1,NaN,NaN,NaN,NaN,NaN
20,elyass15@ajilent-ci,2,NaN,NaN,NaN,NaN,NaN
21,intel1,0,NaN,NaN,NaN,NaN,NaN
22,klara-tershina3H,2,NaN,NaN,NaN,NaN,NaN
23,czuodhj972,1,NaN,NaN,NaN,NaN,NaN
24,faranumar91,1,NaN,NaN,NaN,NaN,NaN
25,cigicigi123,1,NaN,NaN,NaN,NaN,NaN
26,0169395484a,1,NaN,NaN,NaN,NaN,NaN
27,schalke04,1,NaN,NaN,NaN,NaN,NaN
28,prisonbreak1,1,NaN,NaN,NaN,NaN,NaN
29,asgaliu11,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
669849,0933674790MAK,1,NaN,NaN,NaN,NaN,NaN
669850,lmfao12345,1,NaN,NaN,NaN,NaN,NaN
669851,MeRAquFABUZy226,2,NaN,NaN,NaN,NaN,NaN
669852,paulooos2,1,NaN,NaN,NaN,NaN,NaN
669853,yim0843976474,1,NaN,NaN,NaN,NaN,NaN
669854,eydcivmuj9,1,NaN,NaN,NaN,NaN,NaN
669855,fireyice7,1,NaN,NaN,NaN,NaN,NaN
669856,xlepjrf75,1,NaN,NaN,NaN,NaN,NaN
669857,juanpaganini588@gmail.com,2,NaN,NaN,NaN,NaN,NaN
669858,tYAam8zg3Mg2AZ7a,2,NaN,NaN,NaN,NaN,NaN
669859,7598692aaa,1,NaN,NaN,NaN,NaN,NaN
669860,ain151090,1,NaN,NaN,NaN,NaN,NaN
669861,weslley.06888524,2,NaN,NaN,NaN,NaN,NaN
669862,nt7hm2p5w,1,NaN,NaN,NaN,NaN,NaN
669863,dxipqgtch507,1,NaN,NaN,NaN,NaN,NaN
669864,skate11223,1,NaN,NaN,NaN,NaN,NaN
669865,reeta456456,1,NaN,NaN,NaN,NaN,NaN
669866,sakaryal&#305;,2,NaN,NaN,NaN,NaN,NaN
669867,mario3391,1,NaN,NaN,NaN,NaN,NaN
669868,wen2cin2,1,NaN,NaN,NaN,NaN,NaN
669869,mywude577,1,NaN,NaN,NaN,NaN,NaN
669870,8rp4PTTM1MAlcLw0,2,NaN,NaN,NaN,NaN,NaN
669871,hattrick9,1,NaN,NaN,NaN,NaN,NaN
669872,lanciau01,1,NaN,NaN,NaN,NaN,NaN
669873,sh4tup,0,NaN,NaN,NaN,NaN,NaN
669874,10redtux10,1,NaN,NaN,NaN,NaN,NaN
669875,infrared1,1,NaN,NaN,NaN,NaN,NaN
669876,184520socram,1,NaN,NaN,NaN,NaN,NaN
669877,marken22a,1,NaN,NaN,NaN,NaN,NaN
669878,fxx4pw4g,1,NaN,NaN,NaN,NaN,NaN

In [6]:
data= data.drop(['Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6'], axis=1)

In [24]:
data

                         password strength Unnamed: 2
0                        kzde5577        1        NaN
1                        kino3434        1        NaN
2                       visi7k1yr        1        NaN
3                        megzy123        1        NaN
4                     lamborghin1        1        NaN
5                AVYq1lDE4MgAZfNt        2        NaN
6                        u6c8vhow        1        NaN
7                        v1118714        1        NaN
8                    universe2908        1        NaN
9                        as326159        1        NaN
10                       asv5o9yu        1        NaN
11                   612035180tok        1        NaN
12                     jytifok873        1        NaN
13               WUt9IZzE0OQ7PkNE        2        NaN
14                   jerusalem393        1        NaN
15                     g067057895        1        NaN
16                    52558000aaa        1        NaN
17                       idofo673        1        NaN
18                      6975038lp        1        NaN
19                      sbl571017        1        NaN
20            elyass15@ajilent-ci        2        NaN
21                         intel1        0        NaN
22               klara-tershina3H        2        NaN
23                     czuodhj972        1        NaN
24                    faranumar91        1        NaN
25                    cigicigi123        1        NaN
26                    0169395484a        1        NaN
27                      schalke04        1        NaN
28                   prisonbreak1        1        NaN
29                      asgaliu11        1        NaN
...                           ...      ...        ...
669849              0933674790MAK        1        NaN
669850                 lmfao12345        1        NaN
669851            MeRAquFABUZy226        2        NaN
669852                  paulooos2        1        NaN
669853              yim0843976474        1        NaN
669854                 eydcivmuj9        1        NaN
669855                  fireyice7        1        NaN
669856                  xlepjrf75        1        NaN
669857  juanpaganini588@gmail.com        2        NaN
669858           tYAam8zg3Mg2AZ7a        2        NaN
669859                 7598692aaa        1        NaN
669860                  ain151090        1        NaN
669861           weslley.06888524        2        NaN
669862                  nt7hm2p5w        1        NaN
669863               dxipqgtch507        1        NaN
669864                 skate11223        1        NaN
669865                reeta456456        1        NaN
669866             sakaryal&#305;        2        NaN
669867                  mario3391        1        NaN
669868                   wen2cin2        1        NaN
669869                  mywude577        1        NaN
669870           8rp4PTTM1MAlcLw0        2        NaN
669871                  hattrick9        1        NaN
669872                  lanciau01        1        NaN
669873                     sh4tup        0        NaN
669874                 10redtux10        1        NaN
669875                  infrared1        1        NaN
669876               184520socram        1        NaN
669877                  marken22a        1        NaN
669878                   fxx4pw4g        1        NaN

[669879 rows x 3 columns]

In [26]:
    data

                         password strength Unnamed: 2
0                        kzde5577        1        NaN
1                        kino3434        1        NaN
2                       visi7k1yr        1        NaN
3                        megzy123        1        NaN
4                     lamborghin1        1        NaN
5                AVYq1lDE4MgAZfNt        2        NaN
6                        u6c8vhow        1        NaN
7                        v1118714        1        NaN
8                    universe2908        1        NaN
9                        as326159        1        NaN
10                       asv5o9yu        1        NaN
11                   612035180tok        1        NaN
12                     jytifok873        1        NaN
13               WUt9IZzE0OQ7PkNE        2        NaN
14                   jerusalem393        1        NaN
15                     g067057895        1        NaN
16                    52558000aaa        1        NaN
17                       idofo673        1        NaN
18                      6975038lp        1        NaN
19                      sbl571017        1        NaN
20            elyass15@ajilent-ci        2        NaN
21                         intel1        0        NaN
22               klara-tershina3H        2        NaN
23                     czuodhj972        1        NaN
24                    faranumar91        1        NaN
25                    cigicigi123        1        NaN
26                    0169395484a        1        NaN
27                      schalke04        1        NaN
28                   prisonbreak1        1        NaN
29                      asgaliu11        1        NaN
...                           ...      ...        ...
669849              0933674790MAK        1        NaN
669850                 lmfao12345        1        NaN
669851            MeRAquFABUZy226        2        NaN
669852                  paulooos2        1        NaN
669853              yim0843976474        1        NaN
669854                 eydcivmuj9        1        NaN
669855                  fireyice7        1        NaN
669856                  xlepjrf75        1        NaN
669857  juanpaganini588@gmail.com        2        NaN
669858           tYAam8zg3Mg2AZ7a        2        NaN
669859                 7598692aaa        1        NaN
669860                  ain151090        1        NaN
669861           weslley.06888524        2        NaN
669862                  nt7hm2p5w        1        NaN
669863               dxipqgtch507        1        NaN
669864                 skate11223        1        NaN
669865                reeta456456        1        NaN
669866             sakaryal&#305;        2        NaN
669867                  mario3391        1        NaN
669868                   wen2cin2        1        NaN
669869                  mywude577        1        NaN
669870           8rp4PTTM1MAlcLw0        2        NaN
669871                  hattrick9        1        NaN
669872                  lanciau01        1        NaN
669873                     sh4tup        0        NaN
669874                 10redtux10        1        NaN
669875                  infrared1        1        NaN
669876               184520socram        1        NaN
669877                  marken22a        1        NaN
669878                   fxx4pw4g        1        NaN

[669879 rows x 3 columns]

In [28]:
data= data.drop(['Unnamed: 2'], axis=1)

In [29]:

def getTokens(inputString): #custom tokenizer. ours tokens are characters rather than full words
	tokens = []
	for i in inputString:
		tokens.append(i)
	return tokens

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
data = pd.DataFrame(data)
passwords = np.array(data)

random.shuffle(passwords) #shuffling randomly for robustness
y = [d[1] for d in passwords] #labels
allpasswords= [d[0] for d in passwords] #actual passwords

vectorizer = TfidfVectorizer(tokenizer=getTokens) #vectorizing
X = vectorizer.fit_transform(allpasswords)

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)  #splitting

lgs = LogisticRegression(penalty='l2',multi_class='ovr')  #our logistic regression classifier
lgs.fit(X_train, y_train) #training
print(lgs.score(X_test, y_test))

0.8110258553770825