In [1]:
import pandas as pd

In [2]:
import os

In [4]:
os.chdir('F:\COGNITIOR\classification')

In [5]:
dataset1=pd.read_csv("Python_Module_Day_15.2_Credit_Risk_Train_data_XTRAIN.csv")

In [6]:
dataset1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
dataset2=pd.read_csv("Python_Module_Day_15.4_Credit_Risk_Validate_data_XTEST.csv")

In [8]:
dataset2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,Y
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,Y
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,Y
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,Y
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,Y
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,Y
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban,Y
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,N
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,Y
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,Y
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,Y
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,Y
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,Y
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,Y
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,Y
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,Y
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,Y
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,Y
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,Y
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,Y
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,Y
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,Y
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,Y
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,Y
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,N
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,Y
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,Y
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,N
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,Y
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,Y
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban,Y
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,N
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,Y
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,Y
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural,Y
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural,Y
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural,Y
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,Y
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,Y
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,Y
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,Y
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,Y
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,Y
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,Y
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,Y
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban,Y
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,Y
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [9]:
dataset3=pd.read_csv("Python_Module_Day_15.3_Credit_Risk_Test_data.csv")

In [10]:
dataset3

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [11]:
dataset1.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
dataset2.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
outcome               0
dtype: int64

In [13]:
dataset3.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [16]:
x_train=dataset1.iloc[:,:-1]

In [17]:
x_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban
...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [18]:
y_train=dataset1.iloc[:,-1]

In [19]:
y_train

0      Y
1      N
2      Y
3      Y
4      Y
5      Y
6      Y
7      N
8      Y
9      N
10     Y
11     Y
12     Y
13     N
14     Y
15     Y
16     Y
17     N
18     N
19     Y
20     N
21     Y
22     N
23     N
24     N
25     Y
26     Y
27     Y
28     N
29     Y
      ..
584    N
585    N
586    Y
587    Y
588    Y
589    N
590    Y
591    N
592    Y
593    Y
594    Y
595    Y
596    N
597    N
598    Y
599    Y
600    N
601    Y
602    Y
603    Y
604    Y
605    N
606    Y
607    Y
608    Y
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [24]:
dataset1= dataset1.drop(['Loan_ID'], axis=1)

In [25]:
dataset2= dataset2.drop(['Loan_ID'], axis=1)

In [26]:
dataset3= dataset3.drop(['Loan_ID'], axis=1)

In [32]:
x=dataset1.iloc[:,:-1]

In [33]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban
11,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban
12,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural
14,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban
16,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban
17,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
19,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban
21,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban
23,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural
24,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban
29,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban
...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural
585,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural
586,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban
588,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban
589,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban
590,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban
592,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural
597,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban
600,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban
601,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural
602,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban
603,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural
604,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban
605,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural
608,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [34]:
y=dataset1.iloc[:,-1]

In [35]:
y

0      Y
1      N
2      Y
3      Y
4      Y
5      Y
6      Y
7      N
8      Y
9      N
10     Y
11     Y
12     Y
13     N
14     Y
15     Y
16     Y
17     N
18     N
19     Y
20     N
21     Y
22     N
23     N
24     N
25     Y
26     Y
27     Y
28     N
29     Y
      ..
584    N
585    N
586    Y
587    Y
588    Y
589    N
590    Y
591    N
592    Y
593    Y
594    Y
595    Y
596    N
597    N
598    Y
599    Y
600    N
601    Y
602    Y
603    Y
604    Y
605    N
606    Y
607    Y
608    Y
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [31]:
import numpy as np

In [36]:
Q1 = x.quantile(0.25)
Q3 = x.quantile(0.75)
IQR = Q3-Q1
print (IQR)
x = x[~((x<(Q1-1.5*IQR))
                       | (x>(Q3+1.5*IQR))).any(axis=1)]

ApplicantIncome      2917.50
CoapplicantIncome    2297.25
LoanAmount             68.00
Loan_Amount_Term        0.00
Credit_History          0.00
dtype: float64

In [37]:
x.isnull().sum()

Gender                5
Married               1
Dependents            6
Education             0
Self_Employed        26
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           13
Loan_Amount_Term      8
Credit_History       39
Property_Area         0
dtype: int64

In [38]:
x.groupby('Gender').agg({'Gender': np.size})

        Gender
Gender
Female      76
Male       317

In [43]:
x["Gender"]=x["Gender"].fillna('Male')
x["Gender"] = x["Gender"].astype('category')
x["Gender"] = x["Gender"].cat.codes
x = pd.get_dummies(x, columns=['Gender'], drop_first=True)

C:\Users\Gadewar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Gadewar\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Gadewar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
x["Married"]=x["Married"].fillna('Yes')
x["Married"] = x["Married"].astype('category')
x["Married"] = x["Married"].cat.codes
x = pd.get_dummies(x, columns=['Married'], drop_first=True)

In [50]:
x.groupby('Self_Employed').agg({'Self_Employed': np.size})

               Self_Employed
Self_Employed
No                       325
Yes                       47

In [51]:
x["Self_Employed"]=x["Self_Employed"].fillna('No')
x["Self_Employed"] = x["Self_Employed"].astype('category')
x["Self_Employed"] = x["Self_Employed"].cat.codes
x = pd.get_dummies(x, columns=['Self_Employed'], drop_first=True)

In [59]:
x.isnull().sum()

Dependents            6
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           13
Loan_Amount_Term      8
Credit_History       39
Gender_1              0
Married_1             0
Education_1           0
Self_Employed_1       0
Property_Area_1       0
Property_Area_2       0
dtype: int64

In [60]:
x.groupby('Dependents').agg({'Dependents': np.size})

            Dependents
Dependents
0                  240
1                   62
2                   65
3+                  25

In [61]:
x["Dependents"]=x["Dependents"].fillna(0)
x["Dependents"] = x["Dependents"].astype('category')
x["Dependents"] = x["Dependents"].cat.codes
x = pd.get_dummies(x, columns=['Dependents'], drop_first=True)

In [62]:
x["LoanAmount"].fillna(x["LoanAmount"].mean(), inplace=True)

In [63]:
x["Loan_Amount_Term"].fillna(x["Loan_Amount_Term"].mean(), inplace=True)

In [64]:
x["Credit_History"].fillna(x["Credit_History"].mean(), inplace=True)

In [65]:
x.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Gender_1             0
Married_1            0
Education_1          0
Self_Employed_1      0
Property_Area_1      0
Property_Area_2      0
Dependents_1         0
Dependents_2         0
Dependents_3         0
Dependents_4         0
dtype: int64

In [66]:
x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Married_1,Education_1,Self_Employed_1,Property_Area_1,Property_Area_2,Dependents_1,Dependents_2,Dependents_3,Dependents_4
0,5849,0.0,129.205195,360.0,1.0,1,0,0,0,0,1,1,0,0,0
1,4583,1508.0,128.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0
2,3000,0.0,66.000000,360.0,1.0,1,1,0,1,0,1,1,0,0,0
3,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,1,1,0,0,0
4,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
5,5417,4196.0,267.000000,360.0,1.0,1,1,0,1,0,1,0,0,1,0
6,2333,1516.0,95.000000,360.0,1.0,1,1,1,0,0,1,1,0,0,0
8,4006,1526.0,168.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
10,3200,700.0,70.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
11,2500,1840.0,109.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
13,1853,2840.0,114.000000,360.0,1.0,1,0,0,0,0,0,1,0,0,0
15,4950,0.0,125.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
18,4887,0.0,133.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0
19,2600,3500.0,115.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0
24,3717,2925.0,151.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
25,9560,0.0,191.000000,360.0,1.0,1,1,0,1,1,0,1,0,0,0
26,2799,2253.0,122.000000,360.0,1.0,1,1,0,0,1,0,1,0,0,0
27,4226,1040.0,110.000000,360.0,1.0,1,1,1,0,0,1,0,0,1,0
28,1442,0.0,35.000000,360.0,1.0,1,0,1,0,0,1,1,0,0,0
29,3750,2083.0,120.000000,360.0,1.0,0,0,0,0,1,0,0,0,1,0
30,4166,3369.0,201.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0
31,3167,0.0,74.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
32,4692,0.0,106.000000,360.0,1.0,1,0,0,1,0,0,0,1,0,0
33,3500,1667.0,114.000000,360.0,1.0,1,1,0,0,1,0,1,0,0,0
35,2275,2067.0,129.205195,360.0,1.0,1,1,0,0,0,1,1,0,0,0
37,3667,1459.0,144.000000,360.0,1.0,0,1,0,0,1,0,1,0,0,0
39,3748,1668.0,110.000000,360.0,1.0,1,0,1,0,1,0,1,0,0,0
40,3600,0.0,80.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
41,1800,1213.0,47.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
42,2400,0.0,75.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,3675,242.0,108.000000,360.0,1.0,1,1,1,0,1,0,0,0,1,0
562,5923,2054.0,211.000000,360.0,1.0,1,1,0,0,0,0,1,0,0,0
563,5800,0.0,132.000000,360.0,1.0,1,0,1,1,1,0,1,0,0,0
565,4467,0.0,120.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0
566,3333,0.0,70.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
568,2378,0.0,9.000000,360.0,1.0,0,0,0,0,0,1,1,0,0,0
570,3417,1750.0,186.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0
574,6406,0.0,150.000000,360.0,1.0,1,1,0,0,1,0,0,0,0,1
577,3229,2739.0,110.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
578,1782,2232.0,107.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0
579,3182,2917.0,161.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
580,6540,0.0,205.000000,360.0,1.0,1,1,0,0,1,0,0,0,1,0
582,3166,0.0,36.000000,360.0,1.0,0,1,0,0,1,0,1,0,0,0
583,1880,0.0,61.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0
586,2297,1522.0,104.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0
587,2165,0.0,70.000000,360.0,1.0,0,0,1,0,1,0,1,0,0,0
588,4750,0.0,94.000000,360.0,1.0,1,0,0,0,1,0,1,0,0,0
595,3833,0.0,110.000000,360.0,1.0,1,0,1,0,0,0,1,0,0,0
596,6383,1000.0,187.000000,360.0,1.0,1,1,1,1,0,0,0,0,1,0
598,9963,0.0,180.000000,360.0,1.0,1,1,0,1,0,0,1,0,0,0
599,5780,0.0,192.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
601,2894,2792.0,155.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0
602,5703,0.0,128.000000,360.0,1.0,1,1,0,0,0,1,0,0,0,1
603,3676,4301.0,172.000000,360.0,1.0,1,0,0,0,0,0,1,0,0,0
606,3400,2500.0,173.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
607,3987,1411.0,157.000000,360.0,1.0,1,1,1,0,0,0,0,0,1,0
608,3232,1950.0,108.000000,360.0,1.0,1,1,0,0,0,0,1,0,0,0
609,2900,0.0,71.000000,360.0,1.0,0,0,0,0,0,0,1,0,0,0
611,8072,240.0,253.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0
612,7583,0.0,187.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0

In [67]:
y = pd.get_dummies(y, columns=['Loan_Status'], drop_first=True)

In [68]:
y

     Y
0    1
1    0
2    1
3    1
4    1
5    1
6    1
7    0
8    1
9    0
10   1
11   1
12   1
13   0
14   1
15   1
16   1
17   0
18   0
19   1
20   0
21   1
22   0
23   0
24   0
25   1
26   1
27   1
28   0
29   1
..  ..
584  0
585  0
586  1
587  1
588  1
589  0
590  1
591  0
592  1
593  1
594  1
595  1
596  0
597  0
598  1
599  1
600  0
601  1
602  1
603  1
604  1
605  0
606  1
607  1
608  1
609  1
610  1
611  1
612  1
613  0

[614 rows x 1 columns]

In [69]:
final = pd.concat([x,y],axis=1,join='inner')

In [70]:
final

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Married_1,Education_1,Self_Employed_1,Property_Area_1,Property_Area_2,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Y
0,5849,0.0,129.205195,360.0,1.0,1,0,0,0,0,1,1,0,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0,0
2,3000,0.0,66.000000,360.0,1.0,1,1,0,1,0,1,1,0,0,0,1
3,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,1,1,0,0,0,1
4,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,1
5,5417,4196.0,267.000000,360.0,1.0,1,1,0,1,0,1,0,0,1,0,1
6,2333,1516.0,95.000000,360.0,1.0,1,1,1,0,0,1,1,0,0,0,1
8,4006,1526.0,168.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0,1
10,3200,700.0,70.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0,1
11,2500,1840.0,109.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0,1
13,1853,2840.0,114.000000,360.0,1.0,1,0,0,0,0,0,1,0,0,0,0
15,4950,0.0,125.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,1
18,4887,0.0,133.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0,0
19,2600,3500.0,115.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0,1
24,3717,2925.0,151.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0,0
25,9560,0.0,191.000000,360.0,1.0,1,1,0,1,1,0,1,0,0,0,1
26,2799,2253.0,122.000000,360.0,1.0,1,1,0,0,1,0,1,0,0,0,1
27,4226,1040.0,110.000000,360.0,1.0,1,1,1,0,0,1,0,0,1,0,1
28,1442,0.0,35.000000,360.0,1.0,1,0,1,0,0,1,1,0,0,0,0
29,3750,2083.0,120.000000,360.0,1.0,0,0,0,0,1,0,0,0,1,0,1
30,4166,3369.0,201.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0,0
31,3167,0.0,74.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,0
32,4692,0.0,106.000000,360.0,1.0,1,0,0,1,0,0,0,1,0,0,0
33,3500,1667.0,114.000000,360.0,1.0,1,1,0,0,1,0,1,0,0,0,1
35,2275,2067.0,129.205195,360.0,1.0,1,1,0,0,0,1,1,0,0,0,1
37,3667,1459.0,144.000000,360.0,1.0,0,1,0,0,1,0,1,0,0,0,1
39,3748,1668.0,110.000000,360.0,1.0,1,0,1,0,1,0,1,0,0,0,1
40,3600,0.0,80.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,0
41,1800,1213.0,47.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,1
42,2400,0.0,75.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,3675,242.0,108.000000,360.0,1.0,1,1,1,0,1,0,0,0,1,0,1
562,5923,2054.0,211.000000,360.0,1.0,1,1,0,0,0,0,1,0,0,0,1
563,5800,0.0,132.000000,360.0,1.0,1,0,1,1,1,0,1,0,0,0,1
565,4467,0.0,120.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0,1
566,3333,0.0,70.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,1
568,2378,0.0,9.000000,360.0,1.0,0,0,0,0,0,1,1,0,0,0,0
570,3417,1750.0,186.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0,1
574,6406,0.0,150.000000,360.0,1.0,1,1,0,0,1,0,0,0,0,1,0
577,3229,2739.0,110.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,1
578,1782,2232.0,107.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0,1
579,3182,2917.0,161.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0,1
580,6540,0.0,205.000000,360.0,1.0,1,1,0,0,1,0,0,0,1,0,1
582,3166,0.0,36.000000,360.0,1.0,0,1,0,0,1,0,1,0,0,0,1
583,1880,0.0,61.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0,0
586,2297,1522.0,104.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0,1
587,2165,0.0,70.000000,360.0,1.0,0,0,1,0,1,0,1,0,0,0,1
588,4750,0.0,94.000000,360.0,1.0,1,0,0,0,1,0,1,0,0,0,1
595,3833,0.0,110.000000,360.0,1.0,1,0,1,0,0,0,1,0,0,0,1
596,6383,1000.0,187.000000,360.0,1.0,1,1,1,1,0,0,0,0,1,0,0
598,9963,0.0,180.000000,360.0,1.0,1,1,0,1,0,0,1,0,0,0,1
599,5780,0.0,192.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0,1
601,2894,2792.0,155.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0,1
602,5703,0.0,128.000000,360.0,1.0,1,1,0,0,0,1,0,0,0,1,1
603,3676,4301.0,172.000000,360.0,1.0,1,0,0,0,0,0,1,0,0,0,1
606,3400,2500.0,173.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0,1
607,3987,1411.0,157.000000,360.0,1.0,1,1,1,0,0,0,0,0,1,0,1
608,3232,1950.0,108.000000,360.0,1.0,1,1,0,0,0,0,1,0,0,0,1
609,2900,0.0,71.000000,360.0,1.0,0,0,0,0,0,0,1,0,0,0,1
611,8072,240.0,253.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0,1
612,7583,0.0,187.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0,1

In [71]:
dataset2

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,Y
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,Y
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,Y
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,Y
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,Y
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,Y
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban,Y
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,N
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,Y
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,Y
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,Y
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,Y
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,Y
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,Y
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,Y
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,Y
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,Y
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,Y
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,Y
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,Y
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,Y
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,Y
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,Y
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,Y
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,N
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,Y
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,Y
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,N
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,Y
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,Y
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban,Y
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,N
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,Y
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,Y
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural,Y
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural,Y
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural,Y
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,Y
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,Y
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,Y
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,Y
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,Y
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,Y
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,Y
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,Y
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban,Y
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,Y
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,Y
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [72]:
x=dataset2.iloc[:,:-1]

In [73]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [74]:
y=dataset2.iloc[:,-1]

In [75]:
y

0      Y
1      Y
2      Y
3      Y
4      N
5      Y
6      Y
7      N
8      Y
9      Y
10     Y
11     Y
12     Y
13     N
14     Y
15     Y
16     Y
17     Y
18     Y
19     Y
20     Y
21     Y
22     Y
23     Y
24     Y
25     N
26     Y
27     Y
28     Y
29     Y
      ..
337    Y
338    Y
339    N
340    Y
341    Y
342    N
343    Y
344    Y
345    Y
346    N
347    Y
348    Y
349    Y
350    Y
351    Y
352    Y
353    Y
354    Y
355    Y
356    Y
357    Y
358    Y
359    Y
360    Y
361    Y
362    Y
363    Y
364    Y
365    N
366    Y
Name: outcome, Length: 367, dtype: object

In [76]:
Q1 = x.quantile(0.25)
Q3 = x.quantile(0.75)
IQR = Q3-Q1
print (IQR)
x = x[~((x<(Q1-1.5*IQR))
                       | (x>(Q3+1.5*IQR))).any(axis=1)]

ApplicantIncome      2196.00
CoapplicantIncome    2430.50
LoanAmount             57.75
Loan_Amount_Term        0.00
Credit_History          0.00
dtype: float64

In [77]:
x.isnull().sum()

Gender                8
Married               0
Dependents            6
Education             0
Self_Employed         9
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            2
Loan_Amount_Term      4
Credit_History       23
Property_Area         0
dtype: int64

In [78]:
x.groupby('Gender').agg({'Gender': np.size})

        Gender
Gender
Female      46
Male       182

In [82]:
x["Gender"]=x["Gender"].fillna('Male')
x["Gender"] = x["Gender"].astype('category')
x["Gender"] = x["Gender"].cat.codes
x = pd.get_dummies(x, columns=['Gender'], drop_first=True)

C:\Users\Gadewar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Gadewar\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Gadewar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [83]:
x.groupby('Dependents').agg({'Dependents': np.size})

            Dependents
Dependents
0                  136
1                   41
2                   35
3+                  18

In [84]:
x["Dependents"]=x["Dependents"].fillna(0)
x["Dependents"] = x["Dependents"].astype('category')
x["Dependents"] = x["Dependents"].cat.codes
x = pd.get_dummies(x, columns=['Dependents'], drop_first=True)

In [85]:
x.groupby('Self_Employed').agg({'Self_Employed': np.size})

               Self_Employed
Self_Employed
No                       201
Yes                       26

In [86]:
x["Self_Employed"]=x["Self_Employed"].fillna("No")
x["Self_Employed"] = x["Self_Employed"].astype('category')
x["Self_Employed"] = x["Self_Employed"].cat.codes
x = pd.get_dummies(x, columns=['Self_Employed'], drop_first=True)

In [87]:
x["LoanAmount"].fillna(x["LoanAmount"].mean(), inplace=True)

In [88]:
x["Loan_Amount_Term"].fillna(x["Loan_Amount_Term"].mean(), inplace=True)

In [89]:
x["Credit_History"].fillna(x["Credit_History"].mean(), inplace=True)

In [90]:
x.isnull().sum()

Married              0
Education            0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Gender_1             0
Dependents_1         0
Dependents_2         0
Dependents_3         0
Dependents_4         0
Self_Employed_1      0
dtype: int64

In [92]:
y = pd.get_dummies(y, columns=['outcome'], drop_first=True)

In [93]:
y

     Y
0    1
1    1
2    1
3    1
4    0
5    1
6    1
7    0
8    1
9    1
10   1
11   1
12   1
13   0
14   1
15   1
16   1
17   1
18   1
19   1
20   1
21   1
22   1
23   1
24   1
25   0
26   1
27   1
28   1
29   1
..  ..
337  1
338  1
339  0
340  1
341  1
342  0
343  1
344  1
345  1
346  0
347  1
348  1
349  1
350  1
351  1
352  1
353  1
354  1
355  1
356  1
357  1
358  1
359  1
360  1
361  1
362  1
363  1
364  1
365  0
366  1

[367 rows x 1 columns]

In [94]:
final1 = pd.concat([x,y],axis=1,join='inner')

In [95]:
final

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Gender_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1,Y
0,Yes,Graduate,5720,0,110.0,360.0,1.0,Urban,1,1,0,0,0,0,1
1,Yes,Graduate,3076,1500,126.0,360.0,1.0,Urban,1,0,1,0,0,0,1
2,Yes,Graduate,5000,1800,208.0,360.0,1.0,Urban,1,0,0,1,0,0,1
3,Yes,Graduate,2340,2546,100.0,360.0,1.0,Urban,1,0,0,1,0,0,1
4,No,Not Graduate,3276,0,78.0,360.0,1.0,Urban,1,1,0,0,0,0,0
5,Yes,Not Graduate,2165,3422,152.0,360.0,1.0,Urban,1,1,0,0,0,1,1
6,No,Not Graduate,2226,0,59.0,360.0,1.0,Semiurban,0,0,1,0,0,0,1
9,No,Not Graduate,2400,2400,123.0,360.0,1.0,Semiurban,1,1,0,0,0,0,1
10,No,Not Graduate,3091,0,90.0,360.0,1.0,Urban,1,1,0,0,0,0,1
11,Yes,Graduate,2185,1516,162.0,360.0,1.0,Semiurban,1,0,1,0,0,0,1
14,No,Graduate,4666,0,124.0,360.0,1.0,Semiurban,0,1,0,0,0,0,1
15,No,Graduate,5667,0,131.0,360.0,1.0,Urban,1,0,1,0,0,0,1
16,Yes,Graduate,4583,2916,200.0,360.0,1.0,Urban,1,0,0,1,0,0,1
17,Yes,Graduate,3786,333,126.0,360.0,1.0,Semiurban,1,0,0,0,1,0,1
20,Yes,Not Graduate,1888,1620,48.0,360.0,1.0,Urban,1,0,1,0,0,0,1
22,No,Graduate,3909,0,101.0,360.0,1.0,Urban,1,1,0,0,0,0,1
23,No,Not Graduate,3765,0,125.0,360.0,1.0,Urban,0,1,0,0,0,0,1
26,Yes,Graduate,4363,1250,140.0,360.0,1.0,Urban,1,0,0,1,0,0,1
28,Yes,Graduate,3772,833,57.0,360.0,1.0,Semiurban,1,1,0,0,0,0,1
30,No,Not Graduate,2478,0,75.0,360.0,1.0,Semiurban,0,1,0,0,0,0,1
31,Yes,Graduate,6250,820,192.0,360.0,1.0,Urban,1,0,0,1,0,0,1
32,No,Graduate,3268,1683,152.0,360.0,1.0,Semiurban,1,1,0,0,0,0,1
33,Yes,Graduate,2783,2708,158.0,360.0,1.0,Urban,1,1,0,0,0,0,1
34,Yes,Graduate,2740,1541,101.0,360.0,1.0,Urban,1,1,0,0,0,0,1
37,Yes,Graduate,2267,2792,90.0,360.0,1.0,Urban,1,1,0,0,0,1,1
38,No,Graduate,5833,0,116.0,360.0,1.0,Urban,1,1,0,0,0,1,1
39,No,Graduate,3643,1963,138.0,360.0,1.0,Urban,1,1,0,0,0,0,1
40,Yes,Graduate,5629,818,100.0,360.0,1.0,Urban,1,1,0,0,0,0,1
41,No,Graduate,3644,0,110.0,360.0,1.0,Urban,0,1,0,0,0,0,1
42,Yes,Not Graduate,1750,2024,90.0,360.0,1.0,Semiurban,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Yes,Not Graduate,1647,1762,181.0,360.0,1.0,Urban,0,1,0,0,0,0,1
324,Yes,Graduate,5333,0,90.0,360.0,1.0,Rural,1,1,0,0,0,0,1
326,Yes,Not Graduate,2600,618,122.0,360.0,1.0,Semiurban,1,0,1,0,0,0,1
327,Yes,Graduate,5041,700,150.0,360.0,1.0,Urban,1,0,0,1,0,0,1
328,Yes,Graduate,6958,1411,150.0,360.0,1.0,Rural,1,0,0,0,1,1,1
329,Yes,Graduate,3500,1658,104.0,360.0,1.0,Semiurban,1,0,1,0,0,0,1
330,Yes,Graduate,5509,0,143.0,360.0,1.0,Rural,1,1,0,0,0,0,1
332,Yes,Not Graduate,3621,2717,171.0,360.0,1.0,Urban,0,0,1,0,0,0,1
333,Yes,Graduate,4709,0,113.0,360.0,1.0,Semiurban,0,1,0,0,0,0,1
334,Yes,Graduate,1516,1951,35.0,360.0,1.0,Semiurban,1,1,0,0,0,0,1
335,No,Graduate,2400,0,46.0,360.0,1.0,Urban,1,0,0,1,0,0,1
336,No,Not Graduate,3015,2000,145.0,360.0,1.0,Urban,0,1,0,0,0,0,1
337,Yes,Graduate,2292,1558,119.0,360.0,1.0,Urban,1,1,0,0,0,0,1
341,No,Graduate,3972,4275,187.0,360.0,1.0,Rural,1,1,0,0,0,1,1
343,Yes,Graduate,4700,0,80.0,360.0,1.0,Urban,1,0,1,0,0,0,1
344,No,Graduate,6858,0,176.0,360.0,1.0,Rural,1,1,0,0,0,0,1
347,No,Not Graduate,2868,0,70.0,360.0,1.0,Urban,1,1,0,0,0,0,1
348,Yes,Not Graduate,3418,1380,135.0,360.0,1.0,Urban,1,0,0,1,0,0,1
352,Yes,Graduate,5817,910,109.0,360.0,1.0,Urban,1,1,0,0,0,0,1
353,Yes,Graduate,5119,3769,120.0,360.0,1.0,Rural,1,1,0,0,0,0,1
355,Yes,Graduate,7603,1213,197.0,360.0,1.0,Urban,1,0,0,0,1,0,1
356,Yes,Graduate,3791,1936,85.0,360.0,1.0,Urban,1,0,1,0,0,0,1
357,No,Graduate,2500,0,60.0,360.0,1.0,Urban,1,1,0,0,0,0,1
358,Yes,Not Graduate,3132,0,76.0,360.0,1.0,Rural,1,0,0,1,0,0,1
359,No,Graduate,4000,2667,152.0,360.0,1.0,Semiurban,1,1,0,0,0,0,1
361,Yes,Graduate,2269,2167,99.0,360.0,1.0,Semiurban,1,0,1,0,0,0,1
362,Yes,Not Graduate,4009,1777,113.0,360.0,1.0,Urban,1,0,0,0,1,1,1
363,Yes,Graduate,4158,709,115.0,360.0,1.0,Urban,1,1,0,0,0,0,1
364,No,Graduate,3250,1993,126.0,360.0,1.0,Semiurban,1,1,0,0,0,0,1
365,Yes,Graduate,5000,2393,158.0,360.0,1.0,Rural,1,1,0,0,0,0,0

In [96]:
x["Married"] = x["Married"].astype('category')
x["Married"] = x["Married"].cat.codes
x = pd.get_dummies(x, columns=['Married'], drop_first=True)

In [97]:
x["Education"] = x["Education"].astype('category')
x["Education"] = x["Education"].cat.codes
x = pd.get_dummies(x, columns=['Education'], drop_first=True)

In [98]:
x["Property_Area"] = x["Property_Area"].astype('category')
x["Property_Area"] = x["Property_Area"].cat.codes
x = pd.get_dummies(x, columns=['Property_Area'], drop_first=True)

In [100]:
x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1,Married_1,Education_1,Property_Area_1,Property_Area_2
0,5720,0,110.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
1,3076,1500,126.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1
2,5000,1800,208.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
3,2340,2546,100.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
4,3276,0,78.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1
5,2165,3422,152.0,360.0,1.0,1,1,0,0,0,1,1,1,0,1
6,2226,0,59.0,360.0,1.0,0,0,1,0,0,0,0,1,1,0
9,2400,2400,123.0,360.0,1.0,1,1,0,0,0,0,0,1,1,0
10,3091,0,90.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1
11,2185,1516,162.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0
14,4666,0,124.0,360.0,1.0,0,1,0,0,0,0,0,0,1,0
15,5667,0,131.0,360.0,1.0,1,0,1,0,0,0,0,0,0,1
16,4583,2916,200.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
17,3786,333,126.0,360.0,1.0,1,0,0,0,1,0,1,0,1,0
20,1888,1620,48.0,360.0,1.0,1,0,1,0,0,0,1,1,0,1
22,3909,0,101.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1
23,3765,0,125.0,360.0,1.0,0,1,0,0,0,0,0,1,0,1
26,4363,1250,140.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
28,3772,833,57.0,360.0,1.0,1,1,0,0,0,0,1,0,1,0
30,2478,0,75.0,360.0,1.0,0,1,0,0,0,0,0,1,1,0
31,6250,820,192.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
32,3268,1683,152.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0
33,2783,2708,158.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
34,2740,1541,101.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
37,2267,2792,90.0,360.0,1.0,1,1,0,0,0,1,1,0,0,1
38,5833,0,116.0,360.0,1.0,1,1,0,0,0,1,0,0,0,1
39,3643,1963,138.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1
40,5629,818,100.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
41,3644,0,110.0,360.0,1.0,0,1,0,0,0,0,0,0,0,1
42,1750,2024,90.0,360.0,1.0,1,1,0,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,1647,1762,181.0,360.0,1.0,0,1,0,0,0,0,1,1,0,1
324,5333,0,90.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0
326,2600,618,122.0,360.0,1.0,1,0,1,0,0,0,1,1,1,0
327,5041,700,150.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
328,6958,1411,150.0,360.0,1.0,1,0,0,0,1,1,1,0,0,0
329,3500,1658,104.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0
330,5509,0,143.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0
332,3621,2717,171.0,360.0,1.0,0,0,1,0,0,0,1,1,0,1
333,4709,0,113.0,360.0,1.0,0,1,0,0,0,0,1,0,1,0
334,1516,1951,35.0,360.0,1.0,1,1,0,0,0,0,1,0,1,0
335,2400,0,46.0,360.0,1.0,1,0,0,1,0,0,0,0,0,1
336,3015,2000,145.0,360.0,1.0,0,1,0,0,0,0,0,1,0,1
337,2292,1558,119.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
341,3972,4275,187.0,360.0,1.0,1,1,0,0,0,1,0,0,0,0
343,4700,0,80.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1
344,6858,0,176.0,360.0,1.0,1,1,0,0,0,0,0,0,0,0
347,2868,0,70.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1
348,3418,1380,135.0,360.0,1.0,1,0,0,1,0,0,1,1,0,1
352,5817,910,109.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
353,5119,3769,120.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0
355,7603,1213,197.0,360.0,1.0,1,0,0,0,1,0,1,0,0,1
356,3791,1936,85.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1
357,2500,0,60.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1
358,3132,0,76.0,360.0,1.0,1,0,0,1,0,0,1,1,0,0
359,4000,2667,152.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0
361,2269,2167,99.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0
362,4009,1777,113.0,360.0,1.0,1,0,0,0,1,1,1,1,0,1
363,4158,709,115.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
364,3250,1993,126.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0
365,5000,2393,158.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0

In [101]:
final2 = pd.concat([x,y],axis=1,join='inner')

In [102]:
final2

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1,Married_1,Education_1,Property_Area_1,Property_Area_2,Y
0,5720,0,110.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1,1
1,3076,1500,126.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1,1
2,5000,1800,208.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1,1
3,2340,2546,100.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1,1
4,3276,0,78.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1,0
5,2165,3422,152.0,360.0,1.0,1,1,0,0,0,1,1,1,0,1,1
6,2226,0,59.0,360.0,1.0,0,0,1,0,0,0,0,1,1,0,1
9,2400,2400,123.0,360.0,1.0,1,1,0,0,0,0,0,1,1,0,1
10,3091,0,90.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1,1
11,2185,1516,162.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0,1
14,4666,0,124.0,360.0,1.0,0,1,0,0,0,0,0,0,1,0,1
15,5667,0,131.0,360.0,1.0,1,0,1,0,0,0,0,0,0,1,1
16,4583,2916,200.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1,1
17,3786,333,126.0,360.0,1.0,1,0,0,0,1,0,1,0,1,0,1
20,1888,1620,48.0,360.0,1.0,1,0,1,0,0,0,1,1,0,1,1
22,3909,0,101.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1,1
23,3765,0,125.0,360.0,1.0,0,1,0,0,0,0,0,1,0,1,1
26,4363,1250,140.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1,1
28,3772,833,57.0,360.0,1.0,1,1,0,0,0,0,1,0,1,0,1
30,2478,0,75.0,360.0,1.0,0,1,0,0,0,0,0,1,1,0,1
31,6250,820,192.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1,1
32,3268,1683,152.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0,1
33,2783,2708,158.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1,1
34,2740,1541,101.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1,1
37,2267,2792,90.0,360.0,1.0,1,1,0,0,0,1,1,0,0,1,1
38,5833,0,116.0,360.0,1.0,1,1,0,0,0,1,0,0,0,1,1
39,3643,1963,138.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1,1
40,5629,818,100.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1,1
41,3644,0,110.0,360.0,1.0,0,1,0,0,0,0,0,0,0,1,1
42,1750,2024,90.0,360.0,1.0,1,1,0,0,0,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,1647,1762,181.0,360.0,1.0,0,1,0,0,0,0,1,1,0,1,1
324,5333,0,90.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0,1
326,2600,618,122.0,360.0,1.0,1,0,1,0,0,0,1,1,1,0,1
327,5041,700,150.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1,1
328,6958,1411,150.0,360.0,1.0,1,0,0,0,1,1,1,0,0,0,1
329,3500,1658,104.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0,1
330,5509,0,143.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0,1
332,3621,2717,171.0,360.0,1.0,0,0,1,0,0,0,1,1,0,1,1
333,4709,0,113.0,360.0,1.0,0,1,0,0,0,0,1,0,1,0,1
334,1516,1951,35.0,360.0,1.0,1,1,0,0,0,0,1,0,1,0,1
335,2400,0,46.0,360.0,1.0,1,0,0,1,0,0,0,0,0,1,1
336,3015,2000,145.0,360.0,1.0,0,1,0,0,0,0,0,1,0,1,1
337,2292,1558,119.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1,1
341,3972,4275,187.0,360.0,1.0,1,1,0,0,0,1,0,0,0,0,1
343,4700,0,80.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1,1
344,6858,0,176.0,360.0,1.0,1,1,0,0,0,0,0,0,0,0,1
347,2868,0,70.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1,1
348,3418,1380,135.0,360.0,1.0,1,0,0,1,0,0,1,1,0,1,1
352,5817,910,109.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1,1
353,5119,3769,120.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0,1
355,7603,1213,197.0,360.0,1.0,1,0,0,0,1,0,1,0,0,1,1
356,3791,1936,85.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1,1
357,2500,0,60.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1,1
358,3132,0,76.0,360.0,1.0,1,0,0,1,0,0,1,1,0,0,1
359,4000,2667,152.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0,1
361,2269,2167,99.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0,1
362,4009,1777,113.0,360.0,1.0,1,0,0,0,1,1,1,1,0,1,1
363,4158,709,115.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1,1
364,3250,1993,126.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0,1
365,5000,2393,158.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0,0

In [103]:
dataset3

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [111]:
dataset3.isnull().sum()

Gender               11
Married               0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Dependents_1          0
Dependents_2          0
Dependents_3          0
Dependents_4          0
dtype: int64

In [112]:
dataset3.groupby('Gender').agg({'Gender': np.size})

        Gender
Gender
Female      70
Male       286

In [113]:
dataset3["Gender"]=dataset3["Gender"].fillna('Male')
dataset3["Gender"] = dataset3["Gender"].astype('category')
dataset3["Gender"] = dataset3["Gender"].cat.codes
dataset3 = pd.get_dummies(dataset3, columns=['Gender'], drop_first=True)

In [114]:
dataset3.groupby('Self_Employed').agg({'Self_Employed': np.size})

               Self_Employed
Self_Employed
No                       307
Yes                       37

In [115]:
dataset3["Self_Employed"]=dataset3["Self_Employed"].fillna('No')
dataset3["Self_Employed"] = dataset3["Self_Employed"].astype('category')
dataset3["Self_Employed"] = dataset3["Self_Employed"].cat.codes
dataset3 = pd.get_dummies(dataset3, columns=['Self_Employed'], drop_first=True)

In [116]:
dataset3 = pd.get_dummies(dataset3, columns=['LoanAmount'], drop_first=True)

In [117]:
dataset3 = pd.get_dummies(dataset3, columns=['Loan_Amount_Term'], drop_first=True)

In [118]:
dataset3 = pd.get_dummies(dataset3, columns=['Credit_History'], drop_first=True)

In [119]:
dataset3

,Married,Education,ApplicantIncome,CoapplicantIncome,Property_Area,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Gender_1,...,Loan_Amount_Term_60.0,Loan_Amount_Term_84.0,Loan_Amount_Term_120.0,Loan_Amount_Term_180.0,Loan_Amount_Term_240.0,Loan_Amount_Term_300.0,Loan_Amount_Term_350.0,Loan_Amount_Term_360.0,Loan_Amount_Term_480.0,Credit_History_1.0
0,Yes,Graduate,5720,0,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,Yes,Graduate,3076,1500,Urban,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
2,Yes,Graduate,5000,1800,Urban,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1
3,Yes,Graduate,2340,2546,Urban,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,No,Not Graduate,3276,0,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
5,Yes,Not Graduate,2165,3422,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
6,No,Not Graduate,2226,0,Semiurban,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
7,Yes,Not Graduate,3881,0,Rural,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8,Yes,Graduate,13633,0,Urban,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
9,No,Not Graduate,2400,2400,Semiurban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
10,No,Not Graduate,3091,0,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
11,Yes,Graduate,2185,1516,Semiurban,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
12,No,Graduate,4166,0,Urban,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
13,Yes,Graduate,12173,0,Semiurban,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
14,No,Graduate,4666,0,Semiurban,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
15,No,Graduate,5667,0,Urban,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
16,Yes,Graduate,4583,2916,Urban,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1
17,Yes,Graduate,3786,333,Semiurban,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
18,Yes,Graduate,9226,7916,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
19,No,Graduate,1300,3470,Semiurban,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
20,Yes,Not Graduate,1888,1620,Urban,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
21,No,Not Graduate,2083,0,Urban,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
22,No,Graduate,3909,0,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
23,No,Not Graduate,3765,0,Urban,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
24,Yes,Graduate,5400,4380,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
25,No,Graduate,0,24000,Rural,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26,Yes,Graduate,4363,1250,Urban,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
27,Yes,Graduate,7500,3750,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
28,Yes,Graduate,3772,833,Semiurban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
29,No,Graduate,2942,2382,Urban,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,Yes,Graduate,2292,1558,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
338,Yes,Graduate,2360,3355,Rural,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
339,No,Graduate,4333,2333,Rural,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
340,Yes,Graduate,2623,4831,Semiurban,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
341,No,Graduate,3972,4275,Rural,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
342,Yes,Not Graduate,3522,0,Rural,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
343,Yes,Graduate,4700,0,Urban,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
344,No,Graduate,6858,0,Rural,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
345,Yes,Graduate,8334,0,Urban,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
346,Yes,Graduate,3391,1966,Rural,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
347,No,Not Graduate,2868,0,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
348,Yes,Not Graduate,3418,1380,Urban,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1
349,Yes,Graduate,2500,296,Rural,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
350,Yes,Graduate,8667,0,Rural,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1
351,No,Graduate,2283,15000,Rural,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
352,Yes,Graduate,5817,910,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
353,Yes,Graduate,5119,3769,Rural,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
354,Yes,Not Graduate,5316,187,Semiurban,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
355,Yes,Graduate,7603,1213,Urban,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
356,Yes,Graduate,3791,1936,Urban,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
357,No,Graduate,2500,0,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
358,Yes,Not Graduate,3132,0,Rural,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
359,No,Graduate,4000,2667,Semiurban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
360,Yes,Graduate,8550,4255,Urban,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
361,Yes,Graduate,2269,2167,Semiurban,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
362,Yes,Not Graduate,4009,1777,Urban,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
363,Yes,Graduate,4158,709,Urban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
364,No,Graduate,3250,1993,Semiurban,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
365,Yes,Graduate,5000,2393,Rural,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
366,No,Graduate,9200,0,Rural,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [120]:
dataset3["Married"] = dataset3["Married"].astype('category')
dataset3["Married"] = dataset3["Married"].cat.codes
dataset3 = pd.get_dummies(dataset3, columns=['Married'], drop_first=True)

In [121]:
dataset3

,Education,ApplicantIncome,CoapplicantIncome,Property_Area,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Gender_1,Self_Employed_1,...,Loan_Amount_Term_84.0,Loan_Amount_Term_120.0,Loan_Amount_Term_180.0,Loan_Amount_Term_240.0,Loan_Amount_Term_300.0,Loan_Amount_Term_350.0,Loan_Amount_Term_360.0,Loan_Amount_Term_480.0,Credit_History_1.0,Married_1
0,Graduate,5720,0,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
1,Graduate,3076,1500,Urban,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
2,Graduate,5000,1800,Urban,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
3,Graduate,2340,2546,Urban,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,Not Graduate,3276,0,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
5,Not Graduate,2165,3422,Urban,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,1
6,Not Graduate,2226,0,Semiurban,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
7,Not Graduate,3881,0,Rural,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
8,Graduate,13633,0,Urban,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,1,1
9,Not Graduate,2400,2400,Semiurban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
10,Not Graduate,3091,0,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
11,Graduate,2185,1516,Semiurban,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
12,Graduate,4166,0,Urban,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
13,Graduate,12173,0,Semiurban,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
14,Graduate,4666,0,Semiurban,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
15,Graduate,5667,0,Urban,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
16,Graduate,4583,2916,Urban,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
17,Graduate,3786,333,Semiurban,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,1,1
18,Graduate,9226,7916,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
19,Graduate,1300,3470,Semiurban,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
20,Not Graduate,1888,1620,Urban,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
21,Not Graduate,2083,0,Urban,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
22,Graduate,3909,0,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
23,Not Graduate,3765,0,Urban,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
24,Graduate,5400,4380,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
25,Graduate,0,24000,Rural,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
26,Graduate,4363,1250,Urban,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
27,Graduate,7500,3750,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
28,Graduate,3772,833,Semiurban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
29,Graduate,2942,2382,Urban,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,Graduate,2292,1558,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
338,Graduate,2360,3355,Rural,1,0,0,0,1,1,...,0,0,0,1,0,0,0,0,1,1
339,Graduate,4333,2333,Rural,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
340,Graduate,2623,4831,Semiurban,0,0,0,0,1,1,...,0,0,1,0,0,0,0,0,1,1
341,Graduate,3972,4275,Rural,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
342,Not Graduate,3522,0,Rural,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,1,1
343,Graduate,4700,0,Urban,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
344,Graduate,6858,0,Rural,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
345,Graduate,8334,0,Urban,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,1,1
346,Graduate,3391,1966,Rural,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
347,Not Graduate,2868,0,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
348,Not Graduate,3418,1380,Urban,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
349,Graduate,2500,296,Rural,0,0,0,0,1,1,...,0,0,0,0,1,0,0,0,1,1
350,Graduate,8667,0,Rural,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
351,Graduate,2283,15000,Rural,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
352,Graduate,5817,910,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
353,Graduate,5119,3769,Rural,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
354,Not Graduate,5316,187,Semiurban,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,1
355,Graduate,7603,1213,Urban,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,1,1
356,Graduate,3791,1936,Urban,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
357,Graduate,2500,0,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
358,Not Graduate,3132,0,Rural,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
359,Graduate,4000,2667,Semiurban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
360,Graduate,8550,4255,Urban,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
361,Graduate,2269,2167,Semiurban,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
362,Not Graduate,4009,1777,Urban,0,0,1,0,1,1,...,0,0,0,0,0,0,1,0,1,1
363,Graduate,4158,709,Urban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
364,Graduate,3250,1993,Semiurban,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
365,Graduate,5000,2393,Rural,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
366,Graduate,9200,0,Rural,0,0,0,0,1,1,...,0,0,1,0,0,0,0,0,1,0

In [122]:
dataset3["Education"] = dataset3["Education"].astype('category')
dataset3["Education"] = dataset3["Education"].cat.codes
dataset3 = pd.get_dummies(dataset3, columns=['Education'], drop_first=True)



dataset3["Property_Area"] = dataset3["Property_Area"].astype('category')
dataset3["Property_Area"] = dataset3["Property_Area"].cat.codes
dataset3 = pd.get_dummies(dataset3, columns=['Property_Area'], drop_first=True)

In [123]:
dataset3

,ApplicantIncome,CoapplicantIncome,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Gender_1,Self_Employed_1,LoanAmount_30.0,LoanAmount_35.0,...,Loan_Amount_Term_240.0,Loan_Amount_Term_300.0,Loan_Amount_Term_350.0,Loan_Amount_Term_360.0,Loan_Amount_Term_480.0,Credit_History_1.0,Married_1,Education_1,Property_Area_1,Property_Area_2
0,5720,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
1,3076,1500,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
2,5000,1800,0,1,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
3,2340,2546,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
4,3276,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,1,0,1
5,2165,3422,0,0,0,0,1,1,0,0,...,0,0,0,1,0,1,1,1,0,1
6,2226,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,1,0
7,3881,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,1,1,0,0
8,13633,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,1
9,2400,2400,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,1,1,0
10,3091,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,1,0,1
11,2185,1516,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,1,0
12,4166,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,12173,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0
14,4666,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
15,5667,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,1
16,4583,2916,0,1,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
17,3786,333,0,0,1,0,1,0,0,0,...,0,0,0,1,0,1,1,0,1,0
18,9226,7916,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
19,1300,3470,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
20,1888,1620,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,1,0,1
21,2083,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
22,3909,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,1
23,3765,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,1
24,5400,4380,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
25,0,24000,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
26,4363,1250,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
27,7500,3750,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
28,3772,833,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0
29,2942,2382,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
338,2360,3355,1,0,0,0,1,1,0,0,...,1,0,0,0,0,1,1,0,0,0
339,4333,2333,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
340,2623,4831,0,0,0,0,1,1,0,0,...,0,0,0,0,0,1,1,0,1,0
341,3972,4275,0,0,0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,0
342,3522,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
343,4700,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
344,6858,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
345,8334,0,0,0,1,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
346,3391,1966,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
347,2868,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,1,0,1
348,3418,1380,0,1,0,0,1,0,0,0,...,0,0,0,1,0,1,1,1,0,1
349,2500,296,0,0,0,0,1,1,0,0,...,0,1,0,0,0,1,1,0,0,0
350,8667,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,0
351,2283,15000,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
352,5817,910,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
353,5119,3769,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,0
354,5316,187,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,1,1,0
355,7603,1213,0,0,1,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
356,3791,1936,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
357,2500,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,1
358,3132,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,1,1,0,0
359,4000,2667,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,1,0
360,8550,4255,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
361,2269,2167,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,1,0
362,4009,1777,0,0,1,0,1,1,0,0,...,0,0,0,1,0,1,1,1,0,1
363,4158,709,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
364,3250,1993,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
365,5000,2393,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,0
366,9200,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [141]:
dt=pd.read_csv("Python_Module_Day_15.3_Credit_Risk_Test_data.csv")

In [142]:
dt

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [143]:
dt=dt.drop(["Loan_ID"],axis=1)

In [144]:
dt

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [145]:

dt.isnull().sum()

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [146]:
C

        Gender
Gender
Female      70
Male       286

In [147]:
dt["Gender"]=dt["Gender"].fillna('Male')
dt["Gender"] = dt["Gender"].astype('category')
dt["Gender"] = dt["Gender"].cat.codes
dt = pd.get_dummies(dt, columns=['Gender'], drop_first=True)

In [148]:
dt.groupby('Dependents').agg({'Dependents': np.size})

            Dependents
Dependents
0                  200
1                   58
2                   59
3+                  40

In [149]:
dt["Dependents"]=dt["Dependents"].fillna(0)
dt["Dependents"] = dt["Dependents"].astype('category')
dt["Dependents"] = dt["Dependents"].cat.codes
dt = pd.get_dummies(dt, columns=['Dependents'], drop_first=True)

In [150]:
dt.groupby('Self_Employed').agg({'Self_Employed': np.size})

               Self_Employed
Self_Employed
No                       307
Yes                       37

In [152]:
dt["Self_Employed"]=dt["Self_Employed"].fillna("No")
dt["Self_Employed"] = dt["Self_Employed"].astype('category')
dt["Self_Employed"] = dt["Self_Employed"].cat.codes
dt = pd.get_dummies(dt, columns=['Self_Employed'], drop_first=True)

In [153]:
dt["LoanAmount"].fillna(dt["LoanAmount"].mean(), inplace=True)

In [154]:
dt["Loan_Amount_Term"].fillna(dt["Loan_Amount_Term"].mean(), inplace=True)

In [155]:
dt["Credit_History"].fillna(dt["Credit_History"].mean(), inplace=True)

In [156]:
dt

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Gender_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1
0,Yes,Graduate,5720,0,110.0,360.0,1.000000,Urban,1,1,0,0,0,0
1,Yes,Graduate,3076,1500,126.0,360.0,1.000000,Urban,1,0,1,0,0,0
2,Yes,Graduate,5000,1800,208.0,360.0,1.000000,Urban,1,0,0,1,0,0
3,Yes,Graduate,2340,2546,100.0,360.0,0.825444,Urban,1,0,0,1,0,0
4,No,Not Graduate,3276,0,78.0,360.0,1.000000,Urban,1,1,0,0,0,0
5,Yes,Not Graduate,2165,3422,152.0,360.0,1.000000,Urban,1,1,0,0,0,1
6,No,Not Graduate,2226,0,59.0,360.0,1.000000,Semiurban,0,0,1,0,0,0
7,Yes,Not Graduate,3881,0,147.0,360.0,0.000000,Rural,1,0,0,1,0,0
8,Yes,Graduate,13633,0,280.0,240.0,1.000000,Urban,1,0,0,1,0,0
9,No,Not Graduate,2400,2400,123.0,360.0,1.000000,Semiurban,1,1,0,0,0,0
10,No,Not Graduate,3091,0,90.0,360.0,1.000000,Urban,1,1,0,0,0,0
11,Yes,Graduate,2185,1516,162.0,360.0,1.000000,Semiurban,1,0,1,0,0,0
12,No,Graduate,4166,0,40.0,180.0,0.825444,Urban,1,0,0,0,1,0
13,Yes,Graduate,12173,0,166.0,360.0,0.000000,Semiurban,1,0,0,1,0,0
14,No,Graduate,4666,0,124.0,360.0,1.000000,Semiurban,0,1,0,0,0,0
15,No,Graduate,5667,0,131.0,360.0,1.000000,Urban,1,0,1,0,0,0
16,Yes,Graduate,4583,2916,200.0,360.0,1.000000,Urban,1,0,0,1,0,0
17,Yes,Graduate,3786,333,126.0,360.0,1.000000,Semiurban,1,0,0,0,1,0
18,Yes,Graduate,9226,7916,300.0,360.0,1.000000,Urban,1,1,0,0,0,0
19,No,Graduate,1300,3470,100.0,180.0,1.000000,Semiurban,1,1,0,0,0,0
20,Yes,Not Graduate,1888,1620,48.0,360.0,1.000000,Urban,1,0,1,0,0,0
21,No,Not Graduate,2083,0,28.0,180.0,1.000000,Urban,0,0,0,0,1,0
22,No,Graduate,3909,0,101.0,360.0,1.000000,Urban,1,1,0,0,0,0
23,No,Not Graduate,3765,0,125.0,360.0,1.000000,Urban,0,1,0,0,0,0
24,Yes,Graduate,5400,4380,290.0,360.0,1.000000,Urban,1,1,0,0,0,0
25,No,Graduate,0,24000,148.0,360.0,0.000000,Rural,1,1,0,0,0,0
26,Yes,Graduate,4363,1250,140.0,360.0,0.825444,Urban,1,0,0,1,0,0
27,Yes,Graduate,7500,3750,275.0,360.0,1.000000,Urban,1,1,0,0,0,0
28,Yes,Graduate,3772,833,57.0,360.0,0.825444,Semiurban,1,1,0,0,0,0
29,No,Graduate,2942,2382,125.0,180.0,1.000000,Urban,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,Yes,Graduate,2292,1558,119.0,360.0,1.000000,Urban,1,1,0,0,0,0
338,Yes,Graduate,2360,3355,87.0,240.0,1.000000,Rural,1,0,1,0,0,1
339,No,Graduate,4333,2333,162.0,360.0,0.000000,Rural,0,1,0,0,0,0
340,Yes,Graduate,2623,4831,122.0,180.0,1.000000,Semiurban,1,1,0,0,0,1
341,No,Graduate,3972,4275,187.0,360.0,1.000000,Rural,1,1,0,0,0,1
342,Yes,Not Graduate,3522,0,81.0,180.0,1.000000,Rural,1,0,0,0,1,0
343,Yes,Graduate,4700,0,80.0,360.0,1.000000,Urban,1,0,1,0,0,0
344,No,Graduate,6858,0,176.0,360.0,1.000000,Rural,1,1,0,0,0,0
345,Yes,Graduate,8334,0,260.0,360.0,1.000000,Urban,1,0,0,0,1,0
346,Yes,Graduate,3391,1966,133.0,360.0,0.000000,Rural,1,1,0,0,0,0
347,No,Not Graduate,2868,0,70.0,360.0,1.000000,Urban,1,1,0,0,0,0
348,Yes,Not Graduate,3418,1380,135.0,360.0,1.000000,Urban,1,0,0,1,0,0
349,Yes,Graduate,2500,296,137.0,300.0,1.000000,Rural,1,1,0,0,0,1
350,Yes,Graduate,8667,0,254.0,360.0,1.000000,Rural,1,0,0,1,0,0
351,No,Graduate,2283,15000,106.0,360.0,0.825444,Rural,1,1,0,0,0,0
352,Yes,Graduate,5817,910,109.0,360.0,1.000000,Urban,1,1,0,0,0,0
353,Yes,Graduate,5119,3769,120.0,360.0,1.000000,Rural,1,1,0,0,0,0
354,Yes,Not Graduate,5316,187,158.0,180.0,0.000000,Semiurban,1,0,0,0,1,0
355,Yes,Graduate,7603,1213,197.0,360.0,1.000000,Urban,1,0,0,0,1,0
356,Yes,Graduate,3791,1936,85.0,360.0,1.000000,Urban,1,0,1,0,0,0
357,No,Graduate,2500,0,60.0,360.0,1.000000,Urban,1,1,0,0,0,0
358,Yes,Not Graduate,3132,0,76.0,360.0,0.825444,Rural,1,0,0,1,0,0
359,No,Graduate,4000,2667,152.0,360.0,1.000000,Semiurban,1,1,0,0,0,0
360,Yes,Graduate,8550,4255,96.0,360.0,0.825444,Urban,0,1,0,0,0,0
361,Yes,Graduate,2269,2167,99.0,360.0,1.000000,Semiurban,1,0,1,0,0,0
362,Yes,Not Graduate,4009,1777,113.0,360.0,1.000000,Urban,1,0,0,0,1,1
363,Yes,Graduate,4158,709,115.0,360.0,1.000000,Urban,1,1,0,0,0,0
364,No,Graduate,3250,1993,126.0,360.0,0.825444,Semiurban,1,1,0,0,0,0
365,Yes,Graduate,5000,2393,158.0,360.0,1.000000,Rural,1,1,0,0,0,0
366,No,Graduate,9200,0,98.0,180.0,1.000000,Rural,1,1,0,0,0,1

In [157]:
dt = pd.get_dummies(dt, columns=['Married'], drop_first=True)

In [158]:
dt

,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Gender_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1,Married_Yes
0,Graduate,5720,0,110.0,360.0,1.000000,Urban,1,1,0,0,0,0,1
1,Graduate,3076,1500,126.0,360.0,1.000000,Urban,1,0,1,0,0,0,1
2,Graduate,5000,1800,208.0,360.0,1.000000,Urban,1,0,0,1,0,0,1
3,Graduate,2340,2546,100.0,360.0,0.825444,Urban,1,0,0,1,0,0,1
4,Not Graduate,3276,0,78.0,360.0,1.000000,Urban,1,1,0,0,0,0,0
5,Not Graduate,2165,3422,152.0,360.0,1.000000,Urban,1,1,0,0,0,1,1
6,Not Graduate,2226,0,59.0,360.0,1.000000,Semiurban,0,0,1,0,0,0,0
7,Not Graduate,3881,0,147.0,360.0,0.000000,Rural,1,0,0,1,0,0,1
8,Graduate,13633,0,280.0,240.0,1.000000,Urban,1,0,0,1,0,0,1
9,Not Graduate,2400,2400,123.0,360.0,1.000000,Semiurban,1,1,0,0,0,0,0
10,Not Graduate,3091,0,90.0,360.0,1.000000,Urban,1,1,0,0,0,0,0
11,Graduate,2185,1516,162.0,360.0,1.000000,Semiurban,1,0,1,0,0,0,1
12,Graduate,4166,0,40.0,180.0,0.825444,Urban,1,0,0,0,1,0,0
13,Graduate,12173,0,166.0,360.0,0.000000,Semiurban,1,0,0,1,0,0,1
14,Graduate,4666,0,124.0,360.0,1.000000,Semiurban,0,1,0,0,0,0,0
15,Graduate,5667,0,131.0,360.0,1.000000,Urban,1,0,1,0,0,0,0
16,Graduate,4583,2916,200.0,360.0,1.000000,Urban,1,0,0,1,0,0,1
17,Graduate,3786,333,126.0,360.0,1.000000,Semiurban,1,0,0,0,1,0,1
18,Graduate,9226,7916,300.0,360.0,1.000000,Urban,1,1,0,0,0,0,1
19,Graduate,1300,3470,100.0,180.0,1.000000,Semiurban,1,1,0,0,0,0,0
20,Not Graduate,1888,1620,48.0,360.0,1.000000,Urban,1,0,1,0,0,0,1
21,Not Graduate,2083,0,28.0,180.0,1.000000,Urban,0,0,0,0,1,0,0
22,Graduate,3909,0,101.0,360.0,1.000000,Urban,1,1,0,0,0,0,0
23,Not Graduate,3765,0,125.0,360.0,1.000000,Urban,0,1,0,0,0,0,0
24,Graduate,5400,4380,290.0,360.0,1.000000,Urban,1,1,0,0,0,0,1
25,Graduate,0,24000,148.0,360.0,0.000000,Rural,1,1,0,0,0,0,0
26,Graduate,4363,1250,140.0,360.0,0.825444,Urban,1,0,0,1,0,0,1
27,Graduate,7500,3750,275.0,360.0,1.000000,Urban,1,1,0,0,0,0,1
28,Graduate,3772,833,57.0,360.0,0.825444,Semiurban,1,1,0,0,0,0,1
29,Graduate,2942,2382,125.0,180.0,1.000000,Urban,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,Graduate,2292,1558,119.0,360.0,1.000000,Urban,1,1,0,0,0,0,1
338,Graduate,2360,3355,87.0,240.0,1.000000,Rural,1,0,1,0,0,1,1
339,Graduate,4333,2333,162.0,360.0,0.000000,Rural,0,1,0,0,0,0,0
340,Graduate,2623,4831,122.0,180.0,1.000000,Semiurban,1,1,0,0,0,1,1
341,Graduate,3972,4275,187.0,360.0,1.000000,Rural,1,1,0,0,0,1,0
342,Not Graduate,3522,0,81.0,180.0,1.000000,Rural,1,0,0,0,1,0,1
343,Graduate,4700,0,80.0,360.0,1.000000,Urban,1,0,1,0,0,0,1
344,Graduate,6858,0,176.0,360.0,1.000000,Rural,1,1,0,0,0,0,0
345,Graduate,8334,0,260.0,360.0,1.000000,Urban,1,0,0,0,1,0,1
346,Graduate,3391,1966,133.0,360.0,0.000000,Rural,1,1,0,0,0,0,1
347,Not Graduate,2868,0,70.0,360.0,1.000000,Urban,1,1,0,0,0,0,0
348,Not Graduate,3418,1380,135.0,360.0,1.000000,Urban,1,0,0,1,0,0,1
349,Graduate,2500,296,137.0,300.0,1.000000,Rural,1,1,0,0,0,1,1
350,Graduate,8667,0,254.0,360.0,1.000000,Rural,1,0,0,1,0,0,1
351,Graduate,2283,15000,106.0,360.0,0.825444,Rural,1,1,0,0,0,0,0
352,Graduate,5817,910,109.0,360.0,1.000000,Urban,1,1,0,0,0,0,1
353,Graduate,5119,3769,120.0,360.0,1.000000,Rural,1,1,0,0,0,0,1
354,Not Graduate,5316,187,158.0,180.0,0.000000,Semiurban,1,0,0,0,1,0,1
355,Graduate,7603,1213,197.0,360.0,1.000000,Urban,1,0,0,0,1,0,1
356,Graduate,3791,1936,85.0,360.0,1.000000,Urban,1,0,1,0,0,0,1
357,Graduate,2500,0,60.0,360.0,1.000000,Urban,1,1,0,0,0,0,0
358,Not Graduate,3132,0,76.0,360.0,0.825444,Rural,1,0,0,1,0,0,1
359,Graduate,4000,2667,152.0,360.0,1.000000,Semiurban,1,1,0,0,0,0,0
360,Graduate,8550,4255,96.0,360.0,0.825444,Urban,0,1,0,0,0,0,1
361,Graduate,2269,2167,99.0,360.0,1.000000,Semiurban,1,0,1,0,0,0,1
362,Not Graduate,4009,1777,113.0,360.0,1.000000,Urban,1,0,0,0,1,1,1
363,Graduate,4158,709,115.0,360.0,1.000000,Urban,1,1,0,0,0,0,1
364,Graduate,3250,1993,126.0,360.0,0.825444,Semiurban,1,1,0,0,0,0,0
365,Graduate,5000,2393,158.0,360.0,1.000000,Rural,1,1,0,0,0,0,1
366,Graduate,9200,0,98.0,180.0,1.000000,Rural,1,1,0,0,0,1,0

In [159]:
dt = pd.get_dummies(dt, columns=['Education'], drop_first=True)
dt = pd.get_dummies(dt, columns=['Property_Area'], drop_first=True)

In [163]:
x_train=final.iloc[:,:-1]

In [164]:
x_train

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Married_1,Education_1,Self_Employed_1,Property_Area_1,Property_Area_2,Dependents_1,Dependents_2,Dependents_3,Dependents_4
0,5849,0.0,129.205195,360.0,1.0,1,0,0,0,0,1,1,0,0,0
1,4583,1508.0,128.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0
2,3000,0.0,66.000000,360.0,1.0,1,1,0,1,0,1,1,0,0,0
3,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,1,1,0,0,0
4,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
5,5417,4196.0,267.000000,360.0,1.0,1,1,0,1,0,1,0,0,1,0
6,2333,1516.0,95.000000,360.0,1.0,1,1,1,0,0,1,1,0,0,0
8,4006,1526.0,168.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
10,3200,700.0,70.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
11,2500,1840.0,109.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
13,1853,2840.0,114.000000,360.0,1.0,1,0,0,0,0,0,1,0,0,0
15,4950,0.0,125.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
18,4887,0.0,133.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0
19,2600,3500.0,115.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0
24,3717,2925.0,151.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
25,9560,0.0,191.000000,360.0,1.0,1,1,0,1,1,0,1,0,0,0
26,2799,2253.0,122.000000,360.0,1.0,1,1,0,0,1,0,1,0,0,0
27,4226,1040.0,110.000000,360.0,1.0,1,1,1,0,0,1,0,0,1,0
28,1442,0.0,35.000000,360.0,1.0,1,0,1,0,0,1,1,0,0,0
29,3750,2083.0,120.000000,360.0,1.0,0,0,0,0,1,0,0,0,1,0
30,4166,3369.0,201.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0
31,3167,0.0,74.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
32,4692,0.0,106.000000,360.0,1.0,1,0,0,1,0,0,0,1,0,0
33,3500,1667.0,114.000000,360.0,1.0,1,1,0,0,1,0,1,0,0,0
35,2275,2067.0,129.205195,360.0,1.0,1,1,0,0,0,1,1,0,0,0
37,3667,1459.0,144.000000,360.0,1.0,0,1,0,0,1,0,1,0,0,0
39,3748,1668.0,110.000000,360.0,1.0,1,0,1,0,1,0,1,0,0,0
40,3600,0.0,80.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
41,1800,1213.0,47.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
42,2400,0.0,75.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,3675,242.0,108.000000,360.0,1.0,1,1,1,0,1,0,0,0,1,0
562,5923,2054.0,211.000000,360.0,1.0,1,1,0,0,0,0,1,0,0,0
563,5800,0.0,132.000000,360.0,1.0,1,0,1,1,1,0,1,0,0,0
565,4467,0.0,120.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0
566,3333,0.0,70.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
568,2378,0.0,9.000000,360.0,1.0,0,0,0,0,0,1,1,0,0,0
570,3417,1750.0,186.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0
574,6406,0.0,150.000000,360.0,1.0,1,1,0,0,1,0,0,0,0,1
577,3229,2739.0,110.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
578,1782,2232.0,107.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0
579,3182,2917.0,161.000000,360.0,1.0,1,0,0,0,0,1,1,0,0,0
580,6540,0.0,205.000000,360.0,1.0,1,1,0,0,1,0,0,0,1,0
582,3166,0.0,36.000000,360.0,1.0,0,1,0,0,1,0,1,0,0,0
583,1880,0.0,61.000000,360.0,1.0,1,1,0,0,0,0,0,1,0,0
586,2297,1522.0,104.000000,360.0,1.0,1,1,0,0,0,1,1,0,0,0
587,2165,0.0,70.000000,360.0,1.0,0,0,1,0,1,0,1,0,0,0
588,4750,0.0,94.000000,360.0,1.0,1,0,0,0,1,0,1,0,0,0
595,3833,0.0,110.000000,360.0,1.0,1,0,1,0,0,0,1,0,0,0
596,6383,1000.0,187.000000,360.0,1.0,1,1,1,1,0,0,0,0,1,0
598,9963,0.0,180.000000,360.0,1.0,1,1,0,1,0,0,1,0,0,0
599,5780,0.0,192.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0
601,2894,2792.0,155.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,0
602,5703,0.0,128.000000,360.0,1.0,1,1,0,0,0,1,0,0,0,1
603,3676,4301.0,172.000000,360.0,1.0,1,0,0,0,0,0,1,0,0,0
606,3400,2500.0,173.000000,360.0,1.0,1,1,0,0,1,0,0,1,0,0
607,3987,1411.0,157.000000,360.0,1.0,1,1,1,0,0,0,0,0,1,0
608,3232,1950.0,108.000000,360.0,1.0,1,1,0,0,0,0,1,0,0,0
609,2900,0.0,71.000000,360.0,1.0,0,0,0,0,0,0,1,0,0,0
611,8072,240.0,253.000000,360.0,1.0,1,1,0,0,0,1,0,1,0,0
612,7583,0.0,187.000000,360.0,1.0,1,1,0,0,0,1,0,0,1,0

In [165]:
y_train=final.iloc[:,-1]

In [166]:
y_train

0      1
1      0
2      1
3      1
4      1
5      1
6      1
8      1
10     1
11     1
13     0
15     1
18     0
19     1
24     0
25     1
26     1
27     1
28     0
29     1
30     0
31     0
32     0
33     1
35     1
37     1
39     1
40     0
41     1
42     1
      ..
560    1
562    1
563    1
565    1
566    1
568    0
570    1
574    0
577    1
578    1
579    1
580    1
582    1
583    0
586    1
587    1
588    1
595    1
596    0
598    1
599    1
601    1
602    1
603    1
606    1
607    1
608    1
609    1
611    1
612    1
Name: Y, Length: 398, dtype: uint8

In [167]:
x_test=final2.iloc[:,:-1]

In [168]:
x_test

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Dependents_1,Dependents_2,Dependents_3,Dependents_4,Self_Employed_1,Married_1,Education_1,Property_Area_1,Property_Area_2
0,5720,0,110.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
1,3076,1500,126.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1
2,5000,1800,208.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
3,2340,2546,100.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
4,3276,0,78.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1
5,2165,3422,152.0,360.0,1.0,1,1,0,0,0,1,1,1,0,1
6,2226,0,59.0,360.0,1.0,0,0,1,0,0,0,0,1,1,0
9,2400,2400,123.0,360.0,1.0,1,1,0,0,0,0,0,1,1,0
10,3091,0,90.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1
11,2185,1516,162.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0
14,4666,0,124.0,360.0,1.0,0,1,0,0,0,0,0,0,1,0
15,5667,0,131.0,360.0,1.0,1,0,1,0,0,0,0,0,0,1
16,4583,2916,200.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
17,3786,333,126.0,360.0,1.0,1,0,0,0,1,0,1,0,1,0
20,1888,1620,48.0,360.0,1.0,1,0,1,0,0,0,1,1,0,1
22,3909,0,101.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1
23,3765,0,125.0,360.0,1.0,0,1,0,0,0,0,0,1,0,1
26,4363,1250,140.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
28,3772,833,57.0,360.0,1.0,1,1,0,0,0,0,1,0,1,0
30,2478,0,75.0,360.0,1.0,0,1,0,0,0,0,0,1,1,0
31,6250,820,192.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
32,3268,1683,152.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0
33,2783,2708,158.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
34,2740,1541,101.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
37,2267,2792,90.0,360.0,1.0,1,1,0,0,0,1,1,0,0,1
38,5833,0,116.0,360.0,1.0,1,1,0,0,0,1,0,0,0,1
39,3643,1963,138.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1
40,5629,818,100.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
41,3644,0,110.0,360.0,1.0,0,1,0,0,0,0,0,0,0,1
42,1750,2024,90.0,360.0,1.0,1,1,0,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,1647,1762,181.0,360.0,1.0,0,1,0,0,0,0,1,1,0,1
324,5333,0,90.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0
326,2600,618,122.0,360.0,1.0,1,0,1,0,0,0,1,1,1,0
327,5041,700,150.0,360.0,1.0,1,0,0,1,0,0,1,0,0,1
328,6958,1411,150.0,360.0,1.0,1,0,0,0,1,1,1,0,0,0
329,3500,1658,104.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0
330,5509,0,143.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0
332,3621,2717,171.0,360.0,1.0,0,0,1,0,0,0,1,1,0,1
333,4709,0,113.0,360.0,1.0,0,1,0,0,0,0,1,0,1,0
334,1516,1951,35.0,360.0,1.0,1,1,0,0,0,0,1,0,1,0
335,2400,0,46.0,360.0,1.0,1,0,0,1,0,0,0,0,0,1
336,3015,2000,145.0,360.0,1.0,0,1,0,0,0,0,0,1,0,1
337,2292,1558,119.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
341,3972,4275,187.0,360.0,1.0,1,1,0,0,0,1,0,0,0,0
343,4700,0,80.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1
344,6858,0,176.0,360.0,1.0,1,1,0,0,0,0,0,0,0,0
347,2868,0,70.0,360.0,1.0,1,1,0,0,0,0,0,1,0,1
348,3418,1380,135.0,360.0,1.0,1,0,0,1,0,0,1,1,0,1
352,5817,910,109.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
353,5119,3769,120.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0
355,7603,1213,197.0,360.0,1.0,1,0,0,0,1,0,1,0,0,1
356,3791,1936,85.0,360.0,1.0,1,0,1,0,0,0,1,0,0,1
357,2500,0,60.0,360.0,1.0,1,1,0,0,0,0,0,0,0,1
358,3132,0,76.0,360.0,1.0,1,0,0,1,0,0,1,1,0,0
359,4000,2667,152.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0
361,2269,2167,99.0,360.0,1.0,1,0,1,0,0,0,1,0,1,0
362,4009,1777,113.0,360.0,1.0,1,0,0,0,1,1,1,1,0,1
363,4158,709,115.0,360.0,1.0,1,1,0,0,0,0,1,0,0,1
364,3250,1993,126.0,360.0,1.0,1,1,0,0,0,0,0,0,1,0
365,5000,2393,158.0,360.0,1.0,1,1,0,0,0,0,1,0,0,0

In [169]:
y_test=final2.iloc[:,-1]

In [170]:
y_test

0      1
1      1
2      1
3      1
4      0
5      1
6      1
9      1
10     1
11     1
14     1
15     1
16     1
17     1
20     1
22     1
23     1
26     1
28     1
30     1
31     1
32     1
33     1
34     1
37     1
38     1
39     1
40     1
41     1
42     1
      ..
321    1
324    1
326    1
327    1
328    1
329    1
330    1
332    1
333    1
334    1
335    1
336    1
337    1
341    1
343    1
344    1
347    1
348    1
352    1
353    1
355    1
356    1
357    1
358    1
359    1
361    1
362    1
363    1
364    1
365    0
Name: Y, Length: 236, dtype: uint8

In [171]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)

C:\Users\Gadewar\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Gadewar\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [172]:
from sklearn.preprocessing import StandardScaler
sc_x_test = StandardScaler()
x_test = sc_x_test.fit_transform(x_test)

C:\Users\Gadewar\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Gadewar\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [173]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(x_train, y_train)

#94.06

C:\Users\Gadewar\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [174]:
y_pred = logmodel.predict(x_test)

In [175]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)

In [176]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[  0,  14],
       [  0, 222]], dtype=int64)

In [177]:
from sklearn.neighbors import KNeighborsClassifier
classifier_knn = KNeighborsClassifier(n_neighbors=5, 
                                      metric='minkowski', p=2)


#92.37

In [178]:
classifier_knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [179]:
y_pred = classifier_knn.predict(x_test)

In [180]:
confusion_matrix(y_test, y_pred)

array([[  3,  11],
       [  7, 215]], dtype=int64)

In [181]:
from sklearn.naive_bayes import GaussianNB
classifier_nb = GaussianNB()
classifier_nb.fit(x_train, y_train)
y_pred=classifier_nb.predict(x_test)


#88.13

In [182]:
confusion_matrix(y_test, y_pred)

array([[  2,  12],
       [ 16, 206]], dtype=int64)

In [204]:
from sklearn.svm import SVC
classifier_svm = SVC(kernel='sigmoid')
classifier_svm.fit(x_train,y_train)

#94.06

C:\Users\Gadewar\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='sigmoid', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [205]:
y_pred = classifier_svm.predict(x_test)

In [206]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)

In [207]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  0,  14],
       [  0, 222]], dtype=int64)

In [187]:
from sklearn.tree import DecisionTreeClassifier
classifier_dt = DecisionTreeClassifier(criterion='entropy')
classifier_dt.fit(x_train,y_train)

#79.23

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [188]:
y_pred = classifier_dt.predict(x_test)

In [189]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  8,   6],
       [ 43, 179]], dtype=int64)

In [194]:
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(n_estimators=10, criterion='entropy')
classifier_rf.fit(x_train,y_train)

#78.38--3    #81.17--10

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [195]:
y_pred = classifier_rf.predict(x_test)

In [196]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  4,  10],
       [ 33, 189]], dtype=int64)